@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    margin-top: 50px;
}
body{
    background-color: #ffffff;
}
header{
    background-color: #ffffff;
    border-bottom: solid 2px;

    width: 100%;
}
nav ul{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
nav ul li h2{
    font-family: "Playfair Display", serif;
}

nav ul li{
    text-decoration: none;
    list-style: none;
}

nav ul li a{
 text-decoration: none;
 color: #000000;
 font-family: "Roboto Slab", serif;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
}

#fundo{
    height: 40vh;
    background-color: #000000;
    width: 100%;
    position: absolute;
    z-index: -100;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 30px;
    background-color: #000000;
    height: 40vh;
    justify-content: space-between;
}

.titulo h1{
    font-size: 100px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    
    background: linear-gradient(45deg, #7ec1ff, #ff86a2, #bf65e9, #81c2ff);
    background-size: 400% 100%;   
    animation: degrade 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0%{
        background-position-x: 0% ;
    }

    100%{
        background-position: 400%;
    }
}


#section2{
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A A"  "C B";
    width: 50%;
    gap: 90px;
    margin-top: 450px;
    margin-left: 450px;
}

#section2 h3{
    grid-area: A;
    text-align: center;
    font-size: 40px;
}
#section2 img{
    grid-area: B;
    box-shadow: 0px 0px 20px #000000;
}

#section2 p{
    grid-area: C;
    text-align: justify;
    font-size: 20px;
}


#section3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    grid-template-areas: "A A" "B E" "C E";
    gap: 50px;
    width: 50%;
    margin-left: 450px;
    margin-top: 450px;
}

#section3 h3{
    grid-area: A;
    text-align: center;
    font-size: 40px;
}

.p1{
    grid-area: B;
    font-size: 20px;
}

.p2{
    grid-area: C;
    font-size: 20px;
}

.links{
    grid-area: E;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border: solid 2px;
}

.links p{
    font-size: 20px;
}




.links a{
    text-decoration: none;
    color: #000000;
    background-color: #f1cadc;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    
}

.links a:hover{
    opacity: 0.5;
}

.links a:active{
    opacity: 0.9
}


footer{
    width: 100%;
    margin-top: 300px;
    background-color: rgb(253, 211, 233);
    height: 5vh;
    text-align: center;
    border-top: dashed 2px;
    font-weight: bold;
    
}

main{
    display: flex;
    flex-wrap: wrap;
}




@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
    }

    main{
        margin-top: 20px;
    }
    
    nav ul{
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding: 15px 0;
    }

    nav ul li h2{
        text-align: center;
        margin-top: 5px;
    }

    .titulo{
        height: 30vh;
        padding: 20px 10px;
        justify-content: center;
    }


    .titulo h1{
        font-size: 50px;
    }

    .titulo p{
        font-size: 16px;
        text-align: center;
        padding: 0 10px;
    }

    #section2, #section3{
        grid-template-columns: 1fr;
        width: 90%;
        margin: 50px auto;
        gap: 30px;
        padding: 20px 0;
    }

    #section2 h3, #section3 h3{
        font-size: 30px;
        text-align: center;
    }

    #section2 p, #section3 p, .p1, .p2{
        font-size: 16px;
        text-align: justify;
        padding: 0 10px;
    }

    #section2 img{
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }

    .links{
        width: 100%;
        margin: 0 auto;
    }

    .links a{
        padding: 15px 10px;
        font-size: 14px;
        width: 90%;
        text-align: center;
    }

    footer{
        height: auto;
        padding: 15px 10px;
        margin-top: 30px;
        font-size: 12px;
    }
}